# Virtual environment
env/
__pycache__/

# System
.DS_Store
.ragnetic/
ragnetic.egg-info/
build/


# Secrets
.env
credentials.json
service_account.json

# IDE
.vscode/
.idea/

# Logs
*.log

# Vector stores
vectorstore/

# Agents Data
agents_data/
memory/
data_source/
data/