# Virtual environment
env/
__pycache__/

# System
.DS_Store
.ragnetic/
ragnetic.egg-info/
build/


# Secrets
.env
credentials.json
service_account.json

# IDE
.vscode/
.idea/

# Logs
*.log

# Vector stores
vectorstore/

# Agents Data
agents_data/
memory/
data_source/
data/

# Generated log files and benchmark results
/logs/


# Temporary repository clones
.ragnetic_temp_clones/
# ignore evaluation artifacts
benchmark/